body{
    background: #2e2e30; 
}
.form{
    background-image:url('/src/img/background1.png');
    width: 45%;
    margin: 50px auto;
    padding-top:10px;
    text-align: center;
}
.form-body{
   font-size: large;
   font-family:'Times New Roman', Times, serif;
   padding:20px 120px;   
}
.container-navbar{
    background-color:rgb(230, 188, 195);
    padding: 20px;  
}
.space{
padding-left: 25px;
}
.spaces{
   padding-left: 1000px;
}
.table, td, th
{
    border:1px solid;
    padding:20px;
}
table{
    border-collapse: collapse;
}
.btn{
    background-color:rgb(240, 178, 188);
    color:black;
}
